.center {
			text-align: center;
			color: blue;
		}
button {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
  transition-duration: 0.4s;
}

button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
.table  {
			
		}
.table-active {
			
		}
.form-select {

		}	
p.user-select-none {
  width: 1300px;
  text-align: justify;
  margin-left: -0.85cm;
}


.tablafila2{
  vertical-align: middle;
  
 
}
#imc-tabla{
  width: 107px;
  text-align: center;
  
}

#escala-tabla{
  text-align: center;
}

#scale{
  text-align: center;
  width: 92px;
}

		
		

